@import './constants.css';
@import url('hhttps://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap');

html,body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Sofia Sans', sans-serif;
  grid-template-columns: auto 220px;
}

